{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
    <p class="title"><strong>Agri</strong>cultor</p>
    <img class="robot" src="/build/images/robot.647805f5.png" alt="Robot">
    <a class="materiel" href="">Evaluez votre matériel</a>
    <a class="register" href="{{path ('app_register') }}">Pas encore inscrit? Cliquez ici.</a>
{% endblock %}
