{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
<div class="container">
    <p class="title"><strong>Agri</strong>cultor</p>
    <div class="logo"><img src="/build/images/robot.647805f5.png" alt="Robot" title="Robot" /></div>
    <a class="materiel" href="">Evaluez votre matériel</a>
    <a class="register" href="{{path ('app_register') }}">Pas encore inscrit? Cliquez ici.</a>
</div>
{% endblock %}
