@import 'variables.scss';

body {
    background-color: #34445b;
    color: white;
    font-size: 1rem;
}

.container {
    max-width: 1320px;
}

.title {
    font-size: 6rem;
    margin: 2rem auto;
    text-align: center;
}

.logo {
    margin: 2rem auto 4rem auto;
    text-align: center;
}

.logo img {
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

a {
    background-color: #ffbc00;
    padding: 2rem;
    color: white;
    display: grid;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    width: 80%;
    margin: 0 auto 2rem auto;
    font-size: 2.5rem;
}

h1 {
    color: white;
    display: grid;
    justify-content: center;
    font-family: Montserrat Bold;
    font-size: 5rem;
}

form {
    padding: 5%;
    color: white;
    display: grid;
    justify-content: center;
    margin-bottom: 5%;
    row-gap: 1rem;
}

form > div {
    margin-bottom: 10px;
}

label {
    padding: 0;
    text-align: center;
    font-size: 2.5rem;
}

input {
    background-color: #1f2833;
    color: white;
    border: none;
    height: 80px;
    padding: 25px;
    border-radius: 5px;
    font-size: 2.3rem;
}

button {
    cursor: pointer;
    background-color: #ffbc00;
    padding: 2rem;
    color: white;
    display: grid;
    justify-content: center;
    border-radius: 20px;
    border: none;
    margin: 0 auto 2rem auto;
    font-size: 2.3rem;
}

li {
    font-size: 2rem;
}

// materials search
select {
    background-color: #1f2833;
    color: white;
    border: none;
    height: 100px;
    width: 400px;
    margin: 25px;
    border-radius: 10px;
    font-size: 2rem;
}

select option{
    font-size: 15px;
}

#search_material > div{
    color: white;
    display: grid;
    justify-content: center;
    margin-bottom: 2.5%;
    row-gap: 1rem;
}
